:root{
    --accent-color:#2196F3;
    --primery-text-color:#212121;
    --secondary-text-color:#757575;
    --logo-light-color:#ffffff;
    --logo-dark-color:#000000;
    --background-color:#2F303A;
    --secondary-background-color:#F5F4FA;
}

.list{
    list-style:none;
}

img {
    display: block;
}

body{
    background-color: var(--main-backgroung-color);
}

a {
    text-decoration: none;
}

.blu{
    color:var(--accent-color);
}
.black{
    color:var(--logo-dark-color);
}

.link-nav{
    color:var(--secondary-text-color);
}
.link-nav:hover,
.link-nav:focus{
    color:var(--accent-color);
}
.menu .current{
    color:var(--accent-color);
}

.header-contact .link{
    color:var(--secondary-text-color);
}

page-header {
    background-color: var(--main-backgroung-color);
}

.hero{
    background-color:var(--background-color);
}
.hero-title{
    color:var(--logo-light-color);
}
.hero-btn{
background-color:var(--accent-color);
color:var(--logo-light-color);
}

h2, h3{
color:var(--primery-text-color);
}

.feature-text{
    color:var(--secondary-text-color);
}
.team-list{
    color:var(--secondary-text-color);
}
.contacts{
    background-color:var(--background-color);
}

.a-contact{
    color:var(--logo-light-color);
} 

.mail-link,
.phone-link{
color:var(--logo-light-color);
}

.mail-link:hover,
.mail-link:focus{
    color:var(--accent-color);
}

.phone-link:hover
.phone-link:focus{
    color:var(--accent-color);
}

.white{
    color:var(--logo-light-color);
}
.section-btn{
    background-color:var(--secondary-background-color);
    color:var(--primery-text-color);
}
.section-btn:hover,
.section-btn:focus{
    background-color:var(--accent-color);
    color:var(--logo-light-color);
}

.portfolio-tytle{
    color:var(--secondary-text-color);
}
.section-team{
    background-color:var(--secondary-background-color);
